<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h2 class="text-gradient text-primary text-center">Incoming Calls</h2>
    <!-- <p class="lead mb-5">Join the world&#39;s largest developer community</p> -->
  </div>
</div>
<div class="row py-3">
  <div class="col-md-10 mx-auto">
    <div class="row">

      <div class="col-lg-4 mt-lg-n2 mt-2">
        <label class="ms-0">From</label>
        <div class="input-group input-group-static">
          <span class="input-group-text"></span>
          <input class="form-control datepicker" placeholder="Please select date" type="date" >
        </div>

      </div>
      <div class="col-lg-4 mt-lg-n2 mt-2">
        <label class="ms-0">To</label>
        <div class="input-group input-group-static">
          <span class="input-group-text"></span>
          <input class="form-control datepicker" placeholder="Please select date" type="date" >
        </div>
      </div>
      <div class="col-lg-4 mt-lg-n2 mt-2">
        <label>&nbsp;</label>
        <button type="button" class="btn bg-gradient-primary w-100 mb-0">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div
        class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3"
      >
        <h6 class="text-white text-capitalize ps-3">Incoming Calls | <span class="opacity-8"> {{allreceived?.length}}</span></h6>
      </div>
    </div>


    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                #S.No.
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                #ID
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Destination
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Caller
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Call ID
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Bill/HangUp
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Date
              </th>
              <th
                class="
                  text-uppercase text-center text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of allreceived | paginate: { itemsPerPage: 10, currentPage: r }; let i = index">
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ i+1+(r-1)*10 }}
                </p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ log.id }}
                </p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ log.destination_number }}
                </p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ log.caller_id_name }}
                </p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ log.uuid }}
                </p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0 text-center">
                  {{ log.billsec }}
                </p>
              </td>
              <td>
                <span
                  class="text-secondary text-xs font-weight-bold text-center"
                  >{{ log.created_time | date: "short" }}</span
                >
              </td>
              <td class="align-middle text-center">
                <a
                  href="javascript:;"
                  class="text-secondary font-weight-bold text-xs"
                  data-toggle="tooltip"
                  data-original-title="Edit user"
                >
                  <i
                    class="material-icons opacity-10"
                    style="color: var(--bs-info)"
                    >visibility
                  </i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="align-end text-end" colspan="5">Total</td>
              <td class="text-center">
                {{ 1234 }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-center my-3">
          <div class="col-12 p-0 text-center">
            <pagination-controls class="my-pagination" (pageChange)="r = $event"></pagination-controls>
          </div>
        </div>
        <!-- <div class="row justify-space-between mx-auto mt-4" style="width: 50%;" >
          <pagination-controls class="my-pagination" style="margin: auto;" (pageChange)="r = $event"></pagination-controls>
        </div> -->
      </div>
    </div>
  </div>
</div>
