 <!-- <div #content >
  <div class="container invoice">
    <div class="invoice-header">
      <div class="row">
        <div class="col-md-12">
          <div class="st-4">
            <h1>Invoice <small>With Credit</small></h1>
             <h4 class="text-muted">NO: 554775/R1 | Date: 01/01/2015</h4>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="media">
            <div class="media-left">
              <img class="media-object logo" src="https://dummyimage.com/70x70/000/fff&text=ACME" />
            </div>
            <ul class="media-body list-unstyled">
              <li><strong>Acme Corporation</strong></li>
              <li>Software Development</li>
              <li>Field 3, Moon</li>
              <li>info@acme.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice-body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Company Details</h3>
            </div>
            <ul class="st-1">
              <li class="st-2">Name: <span class="st-3">Acme Corporation</span></li>
              <li class="st-2">Industry: <span  class="st-3">Software Development</span></li>
              <li class="st-2">Address: <span  class="st-3">Field 3, Moon</span></li>
              <li class="st-2">Phone: <span  class="st-3">5656565656</span></li>
              <li class="st-2">Email: <span  class="st-3">mainl@acme.com</span></li>
              <li class="st-2">Tax NO: <span class="st-3">123456789</span></li>
              <li class="st-2">Tax Office: <span  class="st-3">A' Moon</span></li>
            </ul>

          </div>
        </div>
        <div class="col-md-6">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Details</h3>
          </div>
          <ul class="st-1">
            <li class="st-2">Name: <span class="st-3">Acme Corporation</span></li>
            <li class="st-2">Industry: <span  class="st-3">Software Development</span></li>
            <li class="st-2">Address: <span  class="st-3">Field 3, Moon</span></li>
            <li class="st-2">Phone: <span  class="st-3">5656565656</span></li>
            <li class="st-2">Email: <span  class="st-3">mainl@acme.com</span></li>
            <li class="st-2">Tax NO: <span class="st-3">123456789</span></li>
            <li class="st-2">Tax Office: <span  class="st-3">A' Moon</span></li>
          </ul>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Services / Products</h3>
        </div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Item / Details</th>
              <th class="text-center colfix">Unit Cost</th>
              <th class="text-center colfix">Sum Cost</th>
              <th class="text-center colfix">Discount</th>
              <th class="text-center colfix">Tax</th>
              <th class="text-center colfix">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Lorem Ipsum Dolor
                <br>
                <small class="text-muted">The best lorem in town, try it now or leave forever</small>
              </td>
              <td class="text-right">
                <span class="mono">$1,000.00</span>
                <br>
                <small class="text-muted">Before Tax</small>
              </td>
              <td class="text-right">
                <span class="mono">$18,000.00</span>
                <br>
                <small class="text-muted">18 Units</small>
              </td>
              <td class="text-right">
                <span class="mono">- $1,800.00</span>
                <br>
                <small class="text-muted">Special -10%</small>
              </td>
              <td class="text-right">
                <span class="mono">+ $3,240.00</span>
                <br>
                <small class="text-muted">VAT 20%</small>
              </td>
              <td class="text-right">
                <strong class="mono">$19,440.00</strong>
                <br>
                <small class="text-muted mono">$16,200.00</small>
              </td>
            </tr>

            <tr>
              <td>
                Sit Amet Dolo
                <br>
                <small class="text-muted">Now you may sit</small>
              </td>
              <td class="text-right">
                <span class="mono">$120.00</span>
                <br>
                <small class="text-muted">Before Tax</small>
              </td>
              <td class="text-right">
                <span class="mono">$240.00</span>
                <br>
                <small class="text-muted">2 Units</small>
              </td>
              <td class="text-right">
                <span class="mono">- $0.00</span>
                <br>
                <small class="text-muted">-</small>
              </td>
              <td class="text-right">
                <span class="mono">+ $72.00</span>
                <br>
                <small class="text-muted">VAT:20% S:10%</small>
              </td>
              <td class="text-right">
                <strong class="mono">$312.00</strong>
                <br>
                <small class="text-muted mono">$240.00</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <td class="text-center col-xs-1">Sub Total</td>
              <td class="text-center col-xs-1">Discount</td>
              <td class="text-center col-xs-1">Total</td>
              <td class="text-center col-xs-1">Tax</td>
              <td class="text-center col-xs-1">Final</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center rowtotal mono">$18,240.00</th>
              <th class="text-center rowtotal mono">-$1,800.00</th>
              <th class="text-center rowtotal mono">$16,440.00</th>
              <th class="text-center rowtotal mono">$3,312.00</th>
              <th class="text-center rowtotal mono">$19,752.00</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="panel panel-default">
            <div class="panel-body">
              <i>Comments / Notes</i>
              <hr style="margin:3px 0 5px" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit repudiandae numquam sit facere blanditiis, quasi distinctio ipsam? Libero odit ex expedita, facere sunt, possimus consectetur dolore, nobis iure amet vero.
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Payment Method</h3>
            </div>
            <div class="panel-body">
              <p>For your convenience, you may deposite the final ammount at one of our banks</p>
              <ul class="list-unstyled">
                <li>Alpha Bank - <span class="mono">MO123456789456123</span></li>
                <li>Beta Bank - <span class="mono">MO123456789456123</span></li>
                <li>Gamma Bank - <span class="mono">MO123456789456123</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="invoice-footer">
      Thank you for choosing our services.
      <br/> We hope to see you again soon
      <br/>
      <strong>~ACME~</strong>
    </div>
  </div>
  <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">

</div> -->


<!-- invoice new  -->

<div id="printSectionId" ng-app="myApp">

  <div class="toolbar hidden-print">
      <div class="text-right">
          <button id="printInvoice" class="btn btn-info" style="margin-right: 15px;"><i class="fa fa-print"></i> Print</button>
          <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
      </div>
      <hr>
  </div>
  <div class="invoice overflow-auto" ng-controller="myCtrl">
      <div style="min-width: 600px">
          <header>
              <div class="row">
                  <div class="col">
                      <a target="_blank" href="">
                          <!-- <img src="assets/imgs/logo-black.png" data-holder-rendered="true" /> -->
                          <!-- <img src="assets/img/logo-black.png" alt="main_logo"> -->
                          <img src="assets/img/logo-black.png" width="120px">

                      </a>
                  </div>
                  <div class="col company-details">
                      <h2 class="name">
                          <a target="_blank" href="https://lobianijs.com">
                           {{invoice?.company}}
                          </a>
                      </h2>
                      <div>455 Foggy Heights, AZ 85004, US</div>
                      <div>(123) 456-789</div>
                      <div>company@example.com</div>
                  </div>
              </div>
          </header>
          <main>
              <div class="row contacts">
                  <div class="col invoice-to">
                      <div class="text-gray-light">INVOICE TO:</div>
                      <h2 class="to">John Doe</h2>
                      <div class="address">796 Silver Harbour, TX 79273, US</div>
                      <div class="email"><a href="mailto:john@example.com">john@example.com</a></div>
                  </div>
                  <div class="col invoice-details">
                      <h1 class="invoice-id">INVOICE 3-2-1</h1>
                      <div class="date">Date of Invoice: 01/10/2018</div>
                      <div class="date">Due Date: 30/10/2018</div>
                  </div>
              </div>
              <table border="0" cellspacing="0" cellpadding="0">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th class="text-left">DESCRIPTION</th>
                          <th class="text-right"></th>
                          <th class="text-right">Quantity</th>
                          <th class="text-right">TOTAL</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="no">01</td>
                          <td class="text-left">
                              <h3>
                                Youtube channel
                              </h3>
                                 Useful videos to improve your Javascript skills. Subscribe and stay tuned
                          </td>
                          <td></td>
                          <td class="unit">$0.00</td>
                          <td class="total">$0.00</td>
                      </tr>
                      <tr>
                          <td class="no">02</td>
                          <td class="text-left"><h3>Website Design</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
                          <td></td>
                          <td class="unit">$40.00</td>
                          <td class="total">$1,200.00</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2">SUBTOTAL</td>
                          <td>$5,200.00</td>
                      </tr>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2">TAX 25%</td>
                          <td>$1,300.00</td>
                      </tr>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2">GRAND TOTAL</td>
                          <td>$6,500.00</td>
                      </tr>
                  </tfoot>
              </table>
              <div class="thanks">Thank you!</div>
              <div class="notices">
                  <div>NOTICE:</div>
                  <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
              </div>
          </main>
          <footer>
              Invoice was created on a computer and is valid without the signature and seal.
          </footer>
      </div>

      <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
      <div></div>
  </div>
</div>
