ul.st-1 {
  padding: 0px;
  list-style: none;
}
span.st-3 {
  width: 50%;
  text-align: right;
  float: right;
  font-weight: 400;
}
li.st-2{
  font-weight: 500;
}
.st-4 {
  text-align: center;
}
.st-4 h1{
  font-size: 30px;
}
.st-4 h4{
  font-size: 18px;
}
.panel-title{
  font-size: 20px;
}
div#invoiceholder {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid#00000014;
}
