<nav
  class="navbar card border border-radius-lg navbar-main navbar-expand-lg px-0 my-2 mx-4 ms-2 shadow border-radius-xl"
  id="navbarBlur" navbar-scroll="false" style="margin-left: 16.75rem !important;">
  <div class="container-fluid py-1 px-3">
    <div class="d-flex">
      <img style="background: white;
                          border-radius: 0.5rem;
                          margin: 3px;
                          padding: 5px;" src="../../assets/img/logo-black.png" alt="" srcset="" width="70px">

      <h5 class="font-weight-bolder m-auto">VoiceTech Dashboard</h5>
    </div>
    <div class="mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <h6 class="p-1 m-1" style="line-height: normal; text-align: center;">Plan Expiry: <br><span class="p-1 m-1 "
            style="    color: #3ea1ec;
          ">{{"250days"}}</span>
        </h6>
        <div class="vl"></div>
        <h6 class="p-1 m-1" style="line-height: normal; text-align: center;">DST No: <br><span class=" p-1 m-1" style="    color: #3ea1ec;
          ">{{userDetails?.alloted_did?.did_no}}</span>
        </h6>
        <style>
          .vl {
            border-left: 3px solid black;
            height: 44px;
          }
        </style>
        <div class="avatar avatar-lg position-relative" routerLink="/profile">
          <img [src]="userDetails?.userimg || defaultimage" alt="profile_image" class="w-75 border-radius-xl shadow">
        </div>

        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="javascript:;" (click)="logout()" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-sign-in me-sm-1"></i>
              <span class="d-sm-inline d-none">Logout</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" routerLink="/setting" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <img src="./assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">New message</span> from Laur
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        13 minutes ago
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <img src="./assets/img/small-logos/logo-spotify.svg"
                        class="avatar avatar-sm bg-gradient-dark  me-3 ">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">New album</span> by Travis Scott
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        1 day
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                      <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>credit-card</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g transform="translate(1716.000000, 291.000000)">
                              <g transform="translate(453.000000, 454.000000)">
                                <path class="color-background"
                                  d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                  opacity="0.593633743"></path>
                                <path class="color-background"
                                  d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                </path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        Payment successfully completed
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        2 days
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Navbar Light -->
<!-- <div class="container position-sticky z-index-sticky top-0 min-vh-10">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg blur border-radius-xl position-absolute my-3 top-0 border-bottom py-3 z-index-3 shadow my-3 py-2 start-0 end-0 mx-4"
        style="margin-right: -8.5rem !important; margin-left: 7.5rem !important;
        ">

        <div class="container">
          <a class="navbar-brand" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            <span><img style="background: white;
                                      border-radius: 0.5rem;
                                      margin: 3px;
                                      padding: 5px;" src="../../assets/img/logo-black.png" alt="" srcset=""
                width="70px"></span> VoiceTech Dashboard
          </a>

          <a href="https://www.creative-tim.com/product/material-design-system-pro#pricingCard"
            class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>

          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                  Pages
                  <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
              </li>

              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                  Account
                  <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                  Blocks
                  <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
              </li>

              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
                  Docs
                  <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
              </li>
            </ul>

            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">

                <a href="https://www.creative-tim.com/product/material-design-system-pro#pricingCard"
                  class="btn btn-sm  bg-gradient-primary  mb-0 me-1" role="button">Buy Now</a>

              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div> -->
