<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="text-gradient text-primary text-center">Compare Features</h2>
        <p class="lead mb-5">Join the world&#39;s largest developer community</p>
      </div>
      <div class="col-lg-10">
        <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Space individual</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Team</h6>
                  <h5 class="font-weight-bolder text-darker mb-0">$39</h5>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Growth</h6>
                  <h5 class="font-weight-bolder text-darker mb-0">$79</h5>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Enterprise</h6>
                  <h5 class="font-weight-bolder text-darker mb-0">$99</h5>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-3">
                  <span class="text-xs">Community support</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              <tr>
                <td class="py-3">
                    <span class="text-xs">100+ Example Pages</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              <tr>
                <td class="py-3">
                  <span class="text-xs">50+ Section Examples</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              <tr>
                <td class="py-3">
                  <span class="text-xs">Multiple use</span>
                </td>
                <td class="text-center py-3">

                </td>
                <td class="text-center py-3">
                  <span class="text-xs">
                    upon request
                  </span>
                </td>
                <td class="text-center py-3">
                  <span class="text-xs">
                    upon request
                  </span>
                </td>
              </tr>
              <tr>
                <th class="pt-4 pb-2 ps-2">
                  <h6 class="mb-0">Developer tools</h6>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td class="py-3">
                  <span class="text-xs">Custom messages</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-minus text-secondary text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              <tr>
                <td class="py-3">
                  <span class="text-xs">Multiple requests</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-minus text-secondary text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-minus text-secondary text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              <tr>
                <th class="border-bottom-0"></th>
                <th class="text-center align-items-center border-bottom-0">
                  <a href="javascript:;" class="btn btn-dark mt-3">Choose Plan</a>
                </th>
                <th class="text-center align-items-center border-bottom-0">
                  <a href="javascript:;" class="btn btn-dark mt-3">Choose Plan</a>
                </th>
                <th class="text-center align-items-center border-bottom-0">
                  <a href="javascript:;" class="btn bg-gradient-primary mt-3">Choose Plan</a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
